.accordion {
  width: 100%;
  max-width: 1000px;
  /* Adjust the maximum width as needed */
  margin: 10% auto;

  .tab {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;

    .tabContent {
      padding: 20px;
      background: #fff;

      .container {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, auto);
        margin: auto;
        padding: 10px;
        align-items: center;
        border-bottom: 1px solid grey;
      }
    }
  }
}

.tabButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f0;
  border: none;
  padding: 15px 20px;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.tabButton:hover {
  background: #e0e0e0;
}

.active .tabButton {
  background: #0070f3;
  color: #fff;
}

.opened .tabContent {
  display: block;
  max-height: 1000px;
  opacity: 1;
}

.closed .tabContent {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.icon {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.opened .icon {
  transform: rotate(45deg);
}

.closed .icon {
  transform: rotate(0deg);
}
